*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*.cache
bin/Debug/net5.0/ref/net5api.dll
obj/project.nuget.cache
net5api.dll
bin/Debug/